/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2018, 4:01:12 PM
    Author     : Milan
*/
.button {
    -fx-background-color: transparent;}

#izaberiFajl{
    -fx-background-image: url("../Slike/Izaberi.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    }
    
#kreniDugme{
    -fx-background-image: url("../Slike/Play.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;    
    }   
    
#pauzirajDugme{
    -fx-background-image: url("../Slike/Pause.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;    
    }
    
#prekidDugme{
    -fx-background-image: url("../Slike/stop.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;    
    }
    
#sporijeDugme{
    -fx-background-image: url("../Slike/Sporije.png");
    -fx-background-size: 40 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#sporoDugme{
    -fx-background-image: url("../Slike/Sporo.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#normalnoDugme{
    -fx-background-image: url("../Slike/Play.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#brzoDugme{
    -fx-background-image: url("../Slike/Brzo.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#brzeDugme{
    -fx-background-image: url("../Slike/Brze.png");
    -fx-background-size: 30 30;
    -fx-backgroubd-reapeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}